$lightest : #e0edec;
$ashy: #93a5a4;
$darkgreen: #2e192e;
$lightgreen: #576b68;
$banerpink: #e8cbcd;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $lightgreen;
    border-radius: 20px;
}
header {
    font-size: 20px;
    margin-bottom: 20px;
}
body{
    background-color: $lightest;
    text-align: center;
    p {
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
    }
    h1, h2, h3, h4 {
        font-family: 'Playfair Display', serif;
    }
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
    a {
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
}
.wrapperpcs {
    background-color: $ashy;
    width: 100%;
    height: 1000px;
    .pcs {
        font-size: 1000px;
        color:$lightgreen;
        background-color: $banerpink;
        width: 100%;
        text-align: center;
    }
}
.center{
    width: 90%;
    margin: 0 auto;
}
.wrapimg {
    width: 100%;
    height: 600px;
    background-image: url('../images/baner.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .transbox {
        padding: 50px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        h2 {
            font-size: 40px;
        }
        h3 {
            font-size: 30px;
        }
    }
}
#about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.blok {
    padding-top: 20px;
    h2 {
        text-align: center;
        background-color: $ashy;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
    }
    p, h3 {
        text-align: center;
        margin-top: 10px;
    }
}
.levo {
    width: 60%;
}
.exspandedu {
    display: flex;
    justify-content: space-evenly;
}
.exspandedutxt {
    padding: 40px;
}
.slikaJa {
    width: 30%;
    height: 500px;
    background-image: url(../images/me.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}
.threeservices {
    display: flex;
    justify-content: space-evenly;
    .service {
        width: 30%;
    }
}
.boxnaslov1, .boxnaslov2, .boxnaslov3, .boxnaslov4 {
    width: 100%;
    text-align: center;
    padding: 20px;
    h2 {
        text-align: center;
        background-color: $ashy;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.skillset {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    .skillsetstwo {
        display: flex;
        justify-content: space-around;
        width: 50%;
        .skillsetihp {
            width: 40%;
        }
        .fab, .fas {
            font-size: 100px;
            color: $darkgreen;
        }
        h3, p {
            padding: 10px;
        }
    }
}
.fourprojects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .oneproject {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .projecttxt {
            text-align: left;
        }
        .projecttxt, .projectimg {
            width: 45%;
        }
        .projectimg {
            height: 300px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-top: 20px;
        }
        .projecttxt {
            h3:hover {
                color: $darkgreen;
            }
        }
    }
}
.contactme {
    display: flex;
    justify-content: space-evenly;
    .map {
        height: 400px;
        h3 {
            text-align: left;
            padding: 10px;
            padding-left: 30px;
        }
    }
}
.contacttable {
    form {
        padding: 25px;
        box-shadow: 0 2px 5px $ashy; 
        background: $banerpink; 
        height: 400px;
        input, textarea {
            width: calc(100% - 18px);
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid $darkgreen;
            outline: none;
        }
        input::placeholder {
            color: #666;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            background: $ashy; 
            font-size: 16px;
            font-weight: 400;
            color: $darkgreen;
        }
        button:hover {
            background: $lightgreen;
        }
    }
}
.code, .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.code {
    background-color: $banerpink;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}
footer {
    background-color: $ashy;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    .socialmedia-icons {
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        align-items: center;
        .fa-envelope, .fa-phone {
            font-size: 25px;
            color: $darkgreen;
        }
        .fa-instagram, .fa-facebook {
            font-size: 40px;
            color: $darkgreen;
        }
    }
}
.bottomnav a, li {
    font-size: 25px;
    color: $darkgreen;
    text-align: right;
}
.marlen {
    background-image: url(../images/sajtMarlen.jpg);
}
.portfoliop {
    background-image: url(../images/sajtPortfolio.jpg);
}
.pastel {
    background-image: url(../images/sajtPastel.jpg);
}
.bank {
    background-image: url(../images/sajtBank.jpg);
}
.minilogo {
    visibility: hidden;
    padding-left: 50%;
}
@media only screen and (max-width: 1440px) {
    .bottomnav a, li {
        font-size: 20px;
    }
    body h1 {
        font-size: 35px;
    }
    header .logo {
        padding-left: 50%;
    }
    .wrapimg {
        height: 550px;
    }
    .exspandedutxt {
        padding: 10px;
    }
}
@media only screen and (max-width: 1280px) {
    .levo {
        width: 100%;
    }
    .slikaJa {
        margin-top: 0px;
        background-position: top;
        height: 300px;
    }
    .blok h2 {
        width: 100%;
    }
    .exspandedutxt {
        padding: 0px 0px 20px;
    }
    .wrapimg {
        height: 500px;
    }
    .skillset {
        display: unset;
    }
    .skillset .skillsetstwo {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .wrapimg .transbox h3 {
        font-size: 30pxpx;
    }
    .wrapimg .transbox h2 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 1080px) {
    header .logo {
        padding-left: 50%;
    }
    header .padding-for-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    body h1 {
        font-size: 28px;
    }   
    body h3 {
        font-size: 19px;
    }
    body h2 {
        font-size: 23px;
    }
    body p {
        font-size: 17px;
    }
    .bottomnav a, li {
        font-size: 16px;
    }
    header nav ul {
        margin-top: 12px;
    }
    .wrapimg {
        height: 450px;
        .transbox h3 {
            font-size: 25px;
        }
        .transbox h2 {
            font-size: 35px;
        }
    }
    .fourprojects .oneproject .projectimg {
        margin-top: 0px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 20px;
    }
    footer .socialmedia-icons .fa-instagram, footer .socialmedia-icons .fa-facebook {
        font-size: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .center {
        width: 100%;
    }
    .slikaJa {
        background-size: cover;
    }
    .fourprojects, .contactme {
        display: contents;
    }
    .contacttable {
        display: flex;
        justify-content: space-around;
        form {
        margin-top: 30px;
        height: unset;
        width: 90%;
        }
    }
    * {
        border-radius: 0px;
    }
    .code {
        border-radius: 0px;
    }
    .wrapimg {
        height: 350px;
    }
    footer .socialmedia-icons {
        width: 80%;
    }
    .boxnaslov1, .boxnaslov2, .boxnaslov3, .boxnaslov4 {
        padding: 20px 0px;
    }
    .wrapimg .transbox {
        padding: 30px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .blok p, .blok h3 {
        margin: 10px;
    }
}
@media only screen and (max-width: 640px) {
    .bottomnav a, li {
        font-size: 13.5px;
    }
    .contactme .map {
        height: 0px;
        visibility: hidden;
    }
    .contacttable form {
        margin-top: 0px;
    }
    .threeservices {
        display: contents;
    }
    .threeservices .service {
        width: 100%;
        padding: 10px;
    }
    .minilogo {
        padding-left: 83%;
        font-size: 25px;
    }
    .wrapimg .transbox h2 {
        font-size: 30px;
    }
    .wrapimg .transbox h3 {
        font-size: 20px;
    }
    .wrapimg {
        height: 300px;
    }
    header nav ul {
        margin-top: 14px;
    }
    .fourprojects .oneproject .projectimg {
        height: 250px;
    }
}
@media only screen and (max-width: 540px) {
    header .padding-for-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header nav ul li {
        margin: 0px 5px 0px 5px;
    }
    .bottomnav a, li {
        font-size: 13px;
    }
    .minilogo {
        padding-left: 73%;
        font-size: 20px;
    }
    .skillset .skillsetstwo {
        display: contents;
    }
    .skillset .skillsetstwo .skillsetihp {
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
        background-color: rgba(232, 203, 205, 0.5);
    }
    .skillset .skillsetstwo .fab, .skillset .skillsetstwo .fas {
        font-size: 70px;
    }
    .fourprojects .oneproject .projectimg {
        height: 200px;
    }
    footer .socialmedia-icons {
        display: unset;
        padding: 30px;
    }
    .fab.fa-instagram, .fab.fa-facebook {
        margin: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .slikaJa {
        height: 200px;
    }
    footer .socialmedia-icons {
        display: unset;
        padding: 30px 20px;
        width: 70%;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 17px;
    }
    footer .socialmedia-icons .fa-instagram, footer .socialmedia-icons .fa-facebook {
        font-size: 20px;
    }
    .wrapimg {
        height: 250px;
    }
    .bottomnav a, li {
        font-size: 11px;
    }
    .minilogo {
        padding-left: 75%;
        font-size: 17px;
    }
    header nav ul {
        margin-top: 12px;
    }
    .wrapimg .transbox h2 {
        font-size: 25px;
    }
    .wrapimg .transbox h3 {
        font-size: 18px;
    }
    body h1 {
        font-size: 23px;
    }   
    body h3 {
        font-size: 16px;
    }
    body h2 {
        font-size: 20px;
    }
    body p {
        font-size: 14px;
    }
    .skillset .skillsetstwo .fab, .skillset .skillsetstwo .fas {
        font-size: 70px;
    }
}
.topnav {
    background-color: $banerpink;
    overflow: hidden;
    a {
        float: left;
        display: block;
        color: $lightgreen;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        background-color: $ashy;
        color: $darkgreen;
      }
      a.active {
        background-color: $ashy;
        color: $darkgreen;
      }
      .icon {
        display: none;
      }
  } 