$lightest : #e0edec;
$ashy: #93a5a4;
$darkgreen: #2e192e;
$lightgreen: #576b68;
$banerpink: #e8cbcd;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $lightgreen;
    border-radius: 20px;
    overflow-x: hidden;
}
header {
    font-size: 20px;
    margin-bottom: 20px;
}
body{
    background-color: $lightest;
    text-align: center;
    p {
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
    }
    h1, h2, h3, h4 {
        font-family: 'Playfair Display', serif;
    }
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
    a {
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
}
.topnav {
    background-color: rgba(232, 203, 205, 0.5);
    overflow: hidden;
    a {
        float: left;
        display: block;
        color: $lightgreen;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        background-color: $ashy;
        color: $darkgreen;
      }
      a.active {
        background-color: $ashy;
        color: $darkgreen;
      }
      .icon {
        display: none;
      }
  } 
.wrapperpcs {
    background-color: $ashy;
    width: 100%;
    height: 1000px;
    .pcs {
        font-size: 1000px;
        color:$lightgreen;
        background-color: $banerpink;
        width: 100%;
        text-align: center;
    }
}
.center{
    width: 90%;
    margin: 0 auto;
}
.wrapimg {
    width: 100%;
    height: 600px;
    background-image: url('../images/baner.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .transbox {
        padding: 20px 0px 0px 0px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        background-color: $banerpink;
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 30px;
        }
    }
}
#about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.blok {
    padding-top: 20px;
    h2 {
        text-align: center;
        background-color: $ashy;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
    }
    p, h3 {
        text-align: center;
        margin-top: 10px;
    }
}
.levo {
    width: 60%;
}
.exspandedu {
    display: flex;
    justify-content: space-evenly;
}
.exspandedutxt {
    padding: 40px;
}
.slikaJa {
    width: 30%;
    height: 500px;
    background-image: url(../images/me.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}
.threeservices {
    display: flex;
    justify-content: space-evenly;
    .service {
        width: 30%;
    }
}
.boxnaslov1, .boxnaslov2, .boxnaslov3, .boxnaslov4 {
    width: 100%;
    text-align: center;
    padding: 20px;
    h2 {
        text-align: center;
        background-color: $ashy;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.skillset {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    .skillsetstwo {
        display: flex;
        justify-content: space-around;
        width: 50%;
        .skillsetihp {
            width: 40%;
        }
        .fab, .fas {
            font-size: 100px;
            color: $darkgreen;
            overflow: visible;
        }
        h3, p {
            padding: 10px;
        }
    }
}
.fourprojects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .twoprojects {
    overflow: visible;
    }
    .oneproject {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: visible;
        .projecttxt {
            text-align: left;
            overflow: visible;
        }
        .projecttxt, .projectimg {
            width: 45%;
        }
        .projectimg {
            height: 300px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-top: 20px;
            overflow: visible;
        }
        .projecttxt {
            h3:hover {
                color: $darkgreen;
            }
        }
    }
}
.contactme {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    .map {
        height: 400px;
        overflow: visible;
        h3 {
            text-align: left;
            padding: 10px;
            padding-left: 30px;
        }
    }
}
.contacttable {
    overflow: visible;
    form {
        padding: 25px;
        box-shadow: 0 2px 5px $ashy; 
        background: $banerpink; 
        height: 400px;
        input, textarea {
            width: calc(100% - 18px);
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid $darkgreen;
            outline: none;
        }
        input::placeholder {
            color: #666;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            background: $ashy; 
            font-size: 16px;
            font-weight: 400;
            color: $darkgreen;
        }
        button:hover {
            background: $lightgreen;
        }
    }
}
.code, .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.code {
    background-color: $banerpink;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}
footer {
    background-color: $ashy;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    .socialmedia-icons {
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        align-items: center;
        p {
            font-size: 20px;
        }
        .fa-envelope, .fa-phone {
            font-size: 25px;
            color: $darkgreen;
        }
        p {
            font-size: 20px;
            color: $darkgreen;
        }
    }
}
.marlen {
    background-image: url(../images/sajtMarlen.jpg);
}
.portfoliop {
    background-image: url(../images/sajtPortfolio.jpg);
}
.pastel {
    background-image: url(../images/sajtPastel.jpg);
}
.bank {
    background-image: url(../images/sajtBank.jpg);
}
.shadow-drop-left {
	-webkit-animation: shadow-drop-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes shadow-drop-left {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-left {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    overflow: visible;
    transform: scale(1.1); 
}
@media only screen and (max-width: 1440px) {
    body h1 {
        font-size: 35px;
    }
    .wrapimg {
        height: 550px;
    }
    .exspandedutxt {
        padding: 10px;
    }
}
@media only screen and (max-width: 1280px) {
    .levo {
        width: 100%;
    }
    .slikaJa {
        margin-top: 0px;
        background-position: top;
        height: 300px;
    }
    .blok h2 {
        width: 100%;
    }
    .exspandedutxt {
        padding: 0px 0px 20px;
    }
    .wrapimg {
        height: 500px;
    }
    .skillset {
        display: unset;
    }
    .skillset .skillsetstwo {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .wrapimg .transbox h2 {
        font-size: 30pxpx;
    }
    .wrapimg .transbox h1 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 1080px) {
    body h1 {
        font-size: 28px;
    }   
    body h3 {
        font-size: 19px;
    }
    body h2 {
        font-size: 23px;
    }
    body p {
        font-size: 17px;
    }
    .wrapimg {
        height: 450px;
        .transbox h2 {
            font-size: 25px;
        }
        .transbox h1 {
            font-size: 35px;
        }
    }
    footer p {
        font-size: 30px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 20px;
    }
    .fourprojects .oneproject .projectimg {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .center {
        width: 100%;
    }
    .slikaJa {
        background-size: cover;
    }
    .fourprojects, .contactme {
        display: contents;
    }
    .contacttable {
        display: flex;
        justify-content: space-around;
        form {
        margin-top: 30px;
        height: unset;
        width: 90%;
        }
    }
    footer .socialmedia-icons {
        width: 100%;
    }
    * {
        border-radius: 0px;
    }
    .code {
        border-radius: 0px;
    }
    .wrapimg {
        height: 350px;
    }
    .boxnaslov1, .boxnaslov2, .boxnaslov3, .boxnaslov4 {
        padding: 20px 0px;
    }
    .wrapimg .transbox {
        padding: 30px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .blok p, .blok h3 {
        margin: 10px;
    }
}
@media only screen and (max-width: 640px) {
    .contactme .map {
        height: 0px;
        visibility: hidden;
    }
    .contacttable form {
        margin-top: 0px;
    }
    .threeservices {
        display: contents;
    }
    footer .socialmedia-icons p {
        font-size: 25px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 20px;
    }
    .threeservices .service {
        width: 100%;
        padding: 10px;
    }
    .wrapimg .transbox h1 {
        font-size: 30px;
    }
    .wrapimg .transbox h2 {
        font-size: 20px;
    }
    .wrapimg {
        height: 300px;
    }
    .fourprojects .oneproject .projectimg {
        height: 250px;
    }
}
@media only screen and (max-width: 540px) {
    .skillset .skillsetstwo {
        display: contents;
    }
    .skillset .skillsetstwo .skillsetihp {
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
        background-color: rgba(232, 203, 205, 0.5);
    }
    .skillset .skillsetstwo .fab, .skillset .skillsetstwo .fas {
        font-size: 70px;
    }
    footer .socialmedia-icons p{
        font-size: 23px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 17px;
    }
    .fourprojects .oneproject .projectimg {
        height: 200px;
    }
}
@media only screen and (max-width: 480px) {
    .slikaJa {
        height: 200px;
    }
    .wrapimg {
        height: 250px;
    }
    .wrapimg .transbox h1 {
        font-size: 25px;
    }
    .wrapimg .transbox {
        width: 100%;
    }
    .wrapimg .transbox h2 {
        font-size: 18px;
    }
    footer .socialmedia-icons p {
        font-size: 15px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 15px;
    }
    body h1 {
        font-size: 23px;
    }   
    body h3 {
        font-size: 16px;
    }
    body h2 {
        font-size: 20px;
    }
    body p {
        font-size: 14px;
    }
    .skillset .skillsetstwo .fab, .skillset .skillsetstwo .fas {
        font-size: 70px;
    }
}
@media only screen and (max-width: 360px) {
    footer .socialmedia-icons p {
        font-size: 10px;
        margin: 10px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 13px;
    }
    .wrapimg {
        height: 200px;
    }
    .fourprojects .oneproject {
        display: contents;
    }
    .fourprojects .oneproject .projecttxt, .fourprojects .oneproject .projectimg {
        width: 100%;
        padding: 15px;
    }
    .fourprojects .oneproject .projecttxt {
        text-align: center;
    }
    .slikaJa {
        width: 200px;
    }
}
@media only screen and (max-width: 240px) {
    footer .socialmedia-icons p {
        font-size: 10px;
        margin: 10px;
    }
    footer .socialmedia-icons .fa-envelope, footer .socialmedia-icons .fa-phone {
        font-size: 13px;
    }
    .wrapimg {
        height: 150px;
    }
    .wrapimg .transbox h1 {
        font-size: 22px;
    }
    .wrapimg .transbox h2 {
        font-size: 17px;
    }
}
